**/.DS_Store
__pycache__/
*.py[cod]
.idea/
*.egg*
/data/
/x-obsolete/
/models/mm-cot-large-answer
/models/mm-cot-large-rationale
/models/mm-cot-base-rationale
/models/mm-cot-base-ans
/data
data/scienceqa/images/
*.pth
*.npy
.env